---
Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-readability-uppercase-literal-suffix,-hicpp-uppercase-literal-suffix,-modernize-use-trailing-return-type,-llvm-*'
WarningsAsErrors: '1'
HeaderFilterRegex: ''
FormatStyle:     none


